<form action="/index/<%= user.account %>/avatars/<%= user.avatars[i]._id %>  " method="get">
    
    <button type="submit">
        <div class="character">
            <img src="<%= user.avatars[i].url %>" alt="" class="character-image">
            <div>
                <h1 class="character-name"><%= user.avatars[i].name %></h1>
                <p class="character-text"><%= user.avatars[i].info %> </p>
            </div>
        </button>
        
    </form>

    <form action="/index/<%= user._id %>/avatars/<%= character[i]._id %>?_method=DELETE" method="post">
        <button type="submit">Delete</button>
    </form>
</section>
