<% statStr=['health','mana','attack','defence','spclAttack','spclDefence'] %> 
<% statAttr=['hp','mp','atk','def','spAtk','spDef'] %> 
<% for(i=0;i<statStr.length;i++){ %>   

<div class="stat-container">
    <label for="" class="stat-label"><%= statAttr[i] %></label>
    <div class="stat-control">
        <div class="btn" id="<%= statStr[i] %>-down-stat-btn">&lt;</div>
        <input type="number" name="<%= statStr[i] %>" id="<%= statStr[i] %>" class="stat-input"value="<%= avatar.stats[statStr[i]] %>" ></input>
        <div class="btn" id="<%= statStr[i] %>-up-stat-btn">&gt;</div>
    </div>
</div>

<% } %> 