<section>
    <form action="/index/<%= user.account %>/avatars/<%= user.avatars[i]._id %>  " method="get">
        <button type="submit" class="btn btn-success">
            <div class="character card">
                <img src="<%= user.avatars[i].img %>" alt="avatar-img" class="character-image card-img-top">
                <div class="car-body">
                    <p class="character-name card-title"><%= user.avatars[i].name %></p>
                    <p class="character-text card-text"><%= user.avatars[i].info %> </p>
                </div> 
            </div>
        </button>        
    </form>
    <form action="/index/<%= user.account %>/avatars/<%= user.avatars[i]._id %>?_method=DELETE" method="post">
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</section>
<%# console.log(user.avatars[i].name) %> 
