<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <script defer src="/js/bootstrap.bundle.js"></script>
    <script defer src="/js/dom_manipulation.js"></script>

    <title>New Character</title>
</head>
<body class="body">
    <header class="header">
        <h1 class="display-1 text-center">Avatar</h1>
        <a href="/index/<%= accountId %>/avatars/<%= avatar._id  %> " class="btn btn-outline-success">Back</a>
    </header>
    <h3 class="text-center">Edit Your Hero</h3>
    <main class="main d-flex  justify-content-center">
        <form action="/index/<%= accountId %>/avatars/<%= avatarId %>?_method=PUT" method="post" class="form p-5">
            <div class="form-group">
                <label for="name">Character Name</label>
                <input id="name" type="text" name="name" class="form-control" value="<%= avatar.name %> ">
            </div>
            <div class="form-group">
                <label for="img">Image Url</label>
                <input id="img" type="text" name="img" class="form-control" value="<%= avatar.img %> ">
            </div>
            <div class="form-group">
                <label for="bio">Bio</label>
                <input id="bio" type="text" name="info" class="form-control" value="<%= avatar.info %> ">
            </div>
            <h2 id="skillpoints">Skill Points: ###</h2>

            <%- include('partials/avatar-stat.ejs') %>




            <button type="submit" class="btn btn-outline-primary"> Level Up </button>
        </form>
    </main>

</body>
</html>

<% console.log(avatar) %> 
