<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <script defer src="/js/bootstrap.bundle.js"></script>
    <title>Avatar Details</title>
</head>
<body class="body">
<!-- HEADER START -->
<header class="header">
    <h1 class="display-1 text-center">Avatar Stats</h1>
    <div class="d-flex flex-row justify-content-between">
        <a href="/index/<%= userAcc %>/" class="btn btn-outline-primary">Back</a>
        <a href="/index" class="btn btn-outline-primary">Logout</a>
    </div>
</header>
<!-- HEADER END -->
<!-- MAIN START -->
<main class="main d-flex  justify-content-center">
    <div class="card card-stats" style="width: 20rem;">
        <img src="<%= avatar.img %>" alt="Hero" class="card-img-top text-center" style="width: 10em;"/>
        <div class="card-body card-stats">
            <h3 class="card-title"> Name: <%= avatar.name %> </h3>
            <h3 class=""> Bio: <%= avatar.info %> </h3>
            <h3 class=""> HP: <%= avatar.stats.health %> </h3>
            <h3 class=""> Mp: <%= avatar.stats.mana %> </h3>
            <h3 class=""> Att: <%= avatar.stats.attack %> </h3>
            <h3 class=""> Def: <%= avatar.stats.defence %> </h3>
            <h3 class=""> SpclAtt: <%= avatar.stats.spclAttack %> </h3>
            <h3 class=""> SpclDef: <%= avatar.stats.spclDefence %> </h3>
        </div>
        <form action="/index/<%= userAcc  %>/avatars/<%= avatar._id %>?_method=DELETE" method="post" class="form-group">
            <a href="/index/<%= userAcc %>/avatars/<%= avatar._id %>/game" class="btn btn-outline-primary">Play</a>
            <a href="/index/<%= userAcc %>/avatars/<%= avatar._id %>/edit" class="btn btn-outline-info">Edit</a>
            <button type="submit" class="btn btn-outline-danger">Delete</button>
        </form>
    </div>
</main>
    <!-- MAIN END -->
</body>
</html>