<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <script defer src="/js/bootstrap.bundle.js"></script>
    <script defer src="/js/app.js"></script>
    <!-- <script data-main="../js/app.js" src="../js/require.js"></script> -->
    <title>Game</title>
</head>
<body>
    <a href="/index/<%= accountId %> ">&lt</a>
    <main class="game-window">
        <div class="info-display">

        <div class="bar-container player-bar-container">

            <meter class="hp" id="player-hp"
                min="0" max="<%= character.stats.health %>"
                low="<%= character.stats.health*0.2 %>" high="<%= character.stats.health*0.5 %>" optimum="<%= character.stats.health*0.8 %>"
                value="<%= character.stats.health %>">
            </meter>
            <meter class="mp" id="player-mp"
                min="0" max="<%= character.stats.mana %>"
                value="<%= character.stats.mana %>">
            </meter>
        </div>

        <h3 id="timer">12</h3>

        <div class="bar-container enemy-bar-container">

            <meter class="hp" id="enemy-hp"
                min="0" max="100"
                low="33" high="66" optimum="80"
                value="50">
            </meter>
            <meter class="mp" id="enemy-mp"
                min="0" max="100"
                value="50">
            </meter>
        </div>

        </div>
        <div class="name-tag">
            <h4><%= character.name %></h4>
            <h4>Evil Man</h4>
        </div>
        <div id="play-window">
                <%- include('partials/player.ejs') %> 
            <div class="fighter" id="enemy"></div>
        </div>
    </main>
    <a href="/index/<%= accountId %>/avatars/<%= character._id %>/edit">Level Up</a>
</body>
</html>

<% console.log(character.stats.mp) %> 